<!-- app/views/home/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>TinyWonders</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" type="text/css" href="<%= asset_path('application.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= asset_path('home.css') %>">
</head>

<body>
  <header>
    <h1>Ласкаво просимо до TinyWonders!</h1>
  </header>
  <div class="home-description">
    <h2>Про Нас</h2>
    <img src="https://media.discordapp.net/attachments/489427612951642123/1310581670629474324/mainimg.png?ex=6745bdcb&is=67446c4b&hm=628f2fc96ebfe57887c1943b1d4dc1842435626a60ea6986e488cfd85d103dbe&=&format=webp&quality=lossless&width=350&height=350" 
    alt="Зображення" class="styled-image">
    <p>Tiny Wonders — це чарівний простір, який пропонує великий асортимент товарів для розвитку творчих здібностей дітей. 
    У нас ви знайдете безліч товарів для дитячої творчості. Ми прагнемо надихнути малечу на створення справжніх шедеврів. 
    Ми допомагаємо відкривати та створювати власні дива!</p>
    <%= link_to 'Огляд товарів', products_path, class: 'btn btn-success' %>
  </div>

</body>
</html>
