<!DOCTYPE html>
<html>
<head>
  <title>TinyWonders - Каталог</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" type="text/css" href="<%= asset_path('application.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= asset_path('catalog.css') %>">
</head>

<body>
  <header class="catalog-header">
    <h1>Каталог Товарів</h1>
  </header>

  <div class="product-list">
    <% @products.each do |product| %>
      <div class="product-card">
        <% if product.image.attached? %>
          <div class="product-image">
            <%= link_to image_tag(product.image, class: "responsive-image"), product_path(product), class: "product-link" %>
          </div>
        <% else %>
        <%= link_to image_tag('placeholder.png', class: "responsive-image"), product_path(product), class: "product-link" %>
        <% end %>

        <h3 class="product-name"><%= link_to product.name, product_path(product), class: "product-link" %></h3>
        <p><strong>Категорія:</strong> <%= product.category %></p>
        <p><strong>Опис:</strong> <%= product.description %></p>
        <p><strong>Ціна:</strong> <%= product.price %> ₴</p>

        <% if user_signed_in? %>
          <%= form_with url: cart_cart_items_path, method: :post, local: true do |form| %>
            <%= hidden_field_tag :product_id, product.id %>
            <%= form.submit "Додати до кошика", class: "btn btn-success" %>
          <% end %>
        <% else %>
          <p class="alert alert-warning">
            Увійдіть у свій акаунт, щоб додати товар до кошика.
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
